[Unit]
Description=gunicorn instance to serve <service_name>
After=network.target

[Service]
User=pi
WorkingDirectory=/path/to/working/dir
Environment="PATH=/path/to/environment"
ExecStart=/path/to/gunicorn -b 0.0.0.0:8080 wsgi:app

[Install]
WantedBy=multi-user.target