[Unit]
Description=gunicorn instance to serve website_test
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/Repos/website_test
Environment="PATH=/home/pi/Repos/website_test/venv/bin"
ExecStart=/home/pi/Repos/website_test/venv/bin/gunicorn -b 0.0.0.0:8085 wsgi:app

[Install]
WantedBy=multi-user.target
